/node_modules
/public/hot
/public/storage
/public/uploads
/public/project_assets
./public/vendor/l5-swagger
./resources/views/vendor/l5-swagger
./storage/api-docs
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.composer.lock
package-lock.json
yarn.lock

